*{
    padding:0;
    margin:0;
    color:#fff;
}
body{
    background: #000;
}


button{
    background: red;
    border: 1px rgba(255, 32, 32, 0.92) solid;
}


iframe{
    width:100% !important;
    height:100% !important;
}

.div1{
    margin-top:70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button{
    background: #b32222;
    /* padding: 20px ; */
    margin: 20px;
    border-radius: 20px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    
}


a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 20px;
    width: 90%;
    padding: 20px;
    display: inline-block ;
    /* margin: 20px; */
    /* position: absolute; */
    
}